.main-catalog{
  .catalog-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .section-filters{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .main-catalog{
  .catalog-container{
    padding: 10px;
  }
}
}
@media (max-width: 450px) {
  .main-catalog{
  .catalog-container{
    padding: 10px;
  }
}
}