.admin-workspace{
.filters{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  button{
    cursor: pointer;
    &:hover{
      color: #fff;
      background-color: #177;
    }
    &:active{
      color: #000;
      background-color: #aaa;
    }
  }
  .filter-active{
    color: #fff;
    background-color: #177;
  }
  button{
    font-size: 18px;
    font-family: Oswald;
    color: #000;
    padding: 10px 20px;
  }
}
.container-table-orders{
  overflow: auto;
  .table-orders{
    thead{
      th{
        font-size: 20px;
        padding: 10px 20px;
      }
    }
    .tbody{
    #tr{
      td{
        border-top: 2px solid #000;
        text-align: center;
        padding: 10px;
        .select{
          padding: 10px 15px;
          font-size: 18px;
          background-color: #f2f2f2;
          font-family: Oswald;
          margin-right: 10px;
          cursor: pointer;
          }
        button{
          font-size: 18px;
          font-family: Oswald;
          background-color: #177;
          color: #fff;
          padding: 10px 20px;
          cursor: pointer;
          &:hover{  
            background-color: #aaa;
            color: #000;
          }
        }
        .item{
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: #fff;
          padding: 10px;
          font-size: 20px;
          &__name{
            width: 100px;
          }
          &__img{
            width: 100px;
          }
        }
      }
    }
    }
  }
}
}
@media (max-width: 768px) {
  .td-action{
  align-self: center;
    display: flex;
   flex-direction: column;
    gap: 10px;
  }
}